/** @format */

.white-space {
  height: 350px;
}
.division-wrapper {
  width:100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.division-line {
  width: 75%;
  height: 1px;
  background-color: lightgray;
}
.division-line-card{
  width: 100%;
  height: 1px;
  background-color: lightgray;
}
.post-title {
  height: 50px;
  font-size: 24px;
  font-weight: bold;
}
.post-content p {
  margin: 5px 0px;
}
.post-bottom {
  font-size: 18px;
  margin: 20px 0px 10px 0px;
  display: flex;
  justify-content: space-between;
  width: 250px;
}
.post-bottom p, span {
  font-size: 13px;
}
.post-bottom-icon-align {
  width: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.post-list-wrapper {
  width:100%;
}
.post-list {
  display:flex;
  justify-content: center;
  align-items: center;
}
.post-card{
  display: flex;
  flex-direction:column;
  align-items: center;
  
  width:75%;
}
.post-container {
  width:75%;
  display: flex;
  flex-direction: column;
  height: 200px;
}

.white-space {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 75%;
}
.profile-top {
  width: 75%;
  display: flex;
  justify-content: start;
}
.profile-top-img {
  width: 200px;
}
.profile-top-intro {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  width: 70%;
}
.profile-top-img img {
  width: 150px;
  height: 150px;
}

.post-create-container {
  width: 100%;
  height: 100%;
}
.post-create-form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.post-create-top {
  margin-top: 100px;
  width: 50%;
  height: 100%;
  /* background: red; */
}

.post-create-container textarea {
  resize: none;
  outline: none;
  width: 100%;
  border: none;
  overflow: hidden;
}
.post-create-title {
  height: 50px;
  font-weight: bold;
  font-size: 24px;
}
.post-create-title::placeholder {
  font-size: 24px;
}
.hrline {
  width: 100%;
  height: 1px;
  background-color: rgba(211, 211, 211, 0.5);
  margin-bottom: 30px;
}
.post-create-content-con {
  height: 600px;
  background: red;
}
.post-create-content {
  height: 100%;
}
.post-create-bottom {
  display: flex;
  justify-content: end;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  background: rgba(211, 211, 211, 0.5);
  height: 75px;
}
