<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"><body>
<div class="container">
    <form action="/v1/new" method="post">
        <div class="form-group">
            <label for="userName">ID</label>
            <br>
            <input type="text" id="userName" name="userName" placeholder="아이디를 입력하세요">
            <br>
            <label for="password">Password</label>
            <br>
            <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요">
        </div>
        <br>
        <button type="submit">등록</button>
    </form>
</div> <!-- /container -->
</body>
</html>