<!-- @format -->

{% load static %}

<div class="post-container">
  <div class="post-title">제목임</div>
  <div class="post-content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, ipsam!
    Quisquam magnam voluptate culpa ea expedita ipsam quam placeat optio, rerum
    distinctio reiciendis. Cum iste a praesentium sed magnam repudiandae?
  </div>
  <div class="post-bottom">
    <p>2022년 5월 18일</p>
    <p>0개의 댓글</p>
    <div class="post-bottom-icon-align">
        <img width="20px;" src="{% static 'icons/favorite_FILL0_wght400_GRAD0_opsz48.svg'%}">
        <span style="align-items: center;">0</span>
    </div>
  </div>
</div>
