<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <link rel="shortcut icon" href="#">
    <style>
        .card-body {
            min-height: 500px;
            overflow-y: auto;
        }
    </style>
    <title></title>
</head>
<body>
<div class="container my-4" th:if="${post != null}">
    <div class="card">
        <div class="card-header">
            <h3 th:text="${post.get().getTitle()}" class="card-title"></h3>
            <span th:text="${post.get().getCreatedAt().format(T(java.time.format.DateTimeFormatter).ofPattern('yyyy-MM-dd HH:mm:ss'))}" class="text-muted text-right"></span>
        </div>
        <div class="card-body">
            <p th:utext="${post.get().getDescription()}" class="card-text"></p>
        </div>
        <div class="card-footer d-flex justify-content-between align-items-center">
            <a href="/" class="btn btn-primary">뒤로 가기</a>
            <div class="card-footer d-flex justify-content-between align-items-center">
                <a th:href="@{/{postId}/edit(postId=${postId})}" class="btn btn-warning mr-3">게시글 수정</a>
                <div>
                    <form th:action="@{/{postId}(postId=${postId})}" method="post">
                        <input type="hidden" name="_method" value="DELETE" />
                        <button class="btn btn-danger">게시글 삭제</button>
                    </form>
                </div>
            </div>
        </div>

        </div>
    </div>
</div>
<script th:inline="javascript">
    /*<![CDATA[*/
    let message = [[${message}]];
    if (message){
        alert(message);
        history.back();
    }
    /*]]>*/
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNSLJoP"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>
