{% extends 'base.html' %}
{% load static %}
{% block title %} 홈 {% endblock %}

{% block content %}


{%include 'mixin/posts/post_navbar.html'%}


<div class="white-space-wrapper">
  <div class="white-space flex-center">
    {%include 'mixin/posts/profile.html' with usage="index" %}
  </div>
</div>
  <div class="post-list-wrapper">
    <div class="post-list flex-center">
        <div class="post-card">
            {% include 'mixin/posts/post_card.html'%}
        </div>
    </div>
  </div>
{% endblock %}